.search-bar {
  z-index: 5000;
  position: absolute;
  top: 3%;
  right: 3%;
}

.search-results p.results {
  margin: 0;
  padding: 5px 0;
  padding-left: 10px;
  text-transform: Uppercase;
}

.results {
  background-color: white;
}

.input-searchbar {
  border-radius: 5px;
  padding: 8px;

  min-width: 250px;
}

@media screen and (min-width:1024px) {
  .search-bar {
    z-index: 5000;
    position: absolute;
    top: 8%;
    right: 3%;
  }    

}