body {
margin: 0;
}
.navbar-container {
    height: 5vh;
    width: 100vw;
    background-color: #5A9449;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.logoImg {
    height: 4vh;
    width: auto;
    margin-left: 4vw;
    margin-top: 0.5vh;
}
.navbar-container a {
    text-decoration: none;
}
.navbar-title {
    margin-left: 4vw;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.about {
    font-size: 12px;
    margin-right: 5vw;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:1024px) {
    .navbar-container {
        height: 5vh;
        width: 100vw;
        background-color: #5A9449;
        display:flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
       
      
    }
    .logoImg {
        height: 5bh;
        width: auto;
        left:0;
    }
    .navbar-title {
        font-size: 24px;
        margin-right: 5vw;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .about {
        font-size: 24px;
        margin-right: 5vw;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
    }

}
@media screen and (min-width:768px) {
    .navbar-title {
        font-size: 22px;
        margin-right: 5vw;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .about {
        font-size: 22px;
        margin-right: 5vw;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
    }
}