.footer-container {
  
    top:0;
    left:0;
    position: fixed;
    background-color: #5A9449;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.footer-logo {
    height: 5vh;
    width: auto;
}

@media screen and (min-width:1024px) {
    
    .footer-container {
        
        bottom:0;
        margin-bottom: 0px;
        top: unset;
        left:0;
        position: fixed;
        background-color: #5A9449;
        height: 5vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
      
    }
}
@media screen and (min-width:768px) {
    
    .footer-container {
        
        bottom:0;
        margin-bottom: 0px;
        top: unset;
        left:0;
        position: fixed;
        background-color: #5A9449;
        height: 5vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
      
    }
}