.main-container{
    width: 100%;
    height: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.map {
    border: 2px solid green;
    /* margin-top: 7.5vh; */
    height: 100%;
    width: 100%;
}

@media screen and (min-width:1024px) {
    .map {
        border: 2px solid green;
        /* margin-top: 10vh; */
        height:100%;
    }
}